<%#= form_for :term, url: search_path, method: :get do |form| %>
  <p>
    <%#= text_field_tag :term, params[:term] %>
    <%#= submit_tag "Search", name: nil %>
  </p>
<%# end %>

<%= form_tag posts_path, :method => 'get' do %>
<div class="search-form">

    <div>
      <%= text_field_tag :starts_with, params[:starts_with], class: 'input input--search', placeholder: 'Что такое серфинг' %>
    </div>

    <div class="search-image">
      <%= submit_tag "", :name => nil, class: 'btn' %>
    </div>

</div>

<% end %>
