<h2>Результату по запросу: «<i><%= params[:term] %></i>»</h2>

<% if @posts %>
<ul class="search_results">
  <% @posts.each do |post| %>
    <li>
      <%= image_tag(post.image.thumb.url, alt: 'Image') if post.image? %>
       <h3>
         <%= link_to post.title, controller: "posts", action: "show", id: post.id %>
       </h3>
    </li>
  <% end %>
</ul>
<% else %>
  <p>Your search did not match any documents.</p>
<% end %>
