:root{
  --default: #2763BD;
  --unactive: #2763BD;
  --text: #2763BD;
  --graytext: #9F9F9F;
  --alternative: #424242;
  --back: #9F9F9F;
}

.btn{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.2 ease;
}
.btn > img{
  display: none;
  padding-right: 5px;
}
.btn:hover{
  opacity: 0.7;
}


/* Button styles */
.btn--default{
  background-color: var(--default);
  color: #fff;
  border: none;

}
.btn--unactive{
  background-color: var(--unactive);
  opacity: 0.5;
  color: #fff;
  border: none;
}
.btn--text{
  background-color: transparent;
  color: var(--default);
  border: none;
  font-weight: 600;
}
.btn--graytext{
  background-color: transparent;
  color: var(--graytext);
  border: none;
  font-weight: 600;
}
.btn--alternative{
  background-color: #fff;
  color: var(--alternative);
  border: solid 1px #101010;
}
.btn--back{
  background-color: transparent;
  color: var(--back);
  border: none;
}
.btn--back > img{
  display: inline-block;
}

/* Button sizes */

.btn--medium{
  padding: 10px 20px;
  font-size: 18px;
}
.btn--large{
  padding: 15px 30px;
  font-size: 20px;
}
