/* :root{
  --default: #2763BD;
  --unactive: #2763BD;
  --text: #2763BD;
  --graytext: #9F9F9F;
  --alternative: #424242;
  --back: #9F9F9F;
} */

.input{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 24px;
  background-color: #fff;
  border: solid 1px #E8E8E8;
  padding-left: 16px;
  color: #9F9F9F;
}
.input:focus{
  border: solid 1px #ACC7EF;
}



/* Input styles */
.input--default{
  border: solid 1px #E8E8E8;
}
.input--error{
  border: solid 2px #E60024;
}

/*Input sizes */

.input--main--standart{
width: 316px;
height: 48px;
}
.input--search--long{
width: 896px;
height: 48px;
}
.input--textarea--wide{
width:432px;
height: 164px;
}
