
.extendedInput{
  font-family: 'raleway', sans-serif;
  padding: 20px;
}


.inputBtn{
  display: flex;
  align-items: center;
}

.inputText{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
