<%= form_with(model: [@post, @post.coments.build]) do |f| %>
  <div class="form-group">
    <%= f.label 'New comment' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
