<div class="textblock">
  <h3>История создания</h3>
  <p>Дом Наркомфина, или 2-й дом Совнаркома РСФСР, стал одним из экспериментальных домов, построенных по результатам теоретических исследований Секции типизации Стройкома РСФСР, работавшей в 1928-1929 годы под руководством М.Я. Гинзбурга. Работе секции предшествовал конкурс на «эскизный проект жилого дома трудящихся», проведенный журналом «Современная архитектура» (Гинзбург подал на конкурс проект «Коммунального дома А-1»), выставка проектов конкурса в 1927 году.[3], и строительство дома Госстраха на Малой Бронной (1926-1927, М.Я. Гинзбург и В.Н. Владимиров). И журнал, и конкурс, и работа Секции типизации были проектами ОСА (Объединения современных архитекторов).</p>
</div>
