<h1>Дом Наркомфина</h1>

<p>Жилой Дом Наркомфина — один из ключевых памятников жилой архитектуры конструктивизма, «опытный дом переходного типа». Построен в 1928—1930 годах по проекту архитекторов Моисея Гинзбурга, Игнатия Милиниса и инженера Сергея Прохорова[1] для работников Народного комиссариата финансов СССР (Наркомфина). Находится в Москве на Новинском бульваре по адресу дом № 25, корпус 1.</p>

<% 2.times do %> <%= render 'counter' %>
<% end %>

<%= image_tag('narcomfin.png', :alt => "blue pic" , width: '100%') %>

<div class="textblock">
  <h3>История создания</h3>
  <p>Дом Наркомфина, или 2-й дом Совнаркома РСФСР, стал одним из экспериментальных домов, построенных по результатам теоретических исследований Секции типизации Стройкома РСФСР, работавшей в 1928-1929 годы под руководством М.Я. Гинзбурга. Работе секции предшествовал конкурс на «эскизный проект жилого дома трудящихся», проведенный журналом «Современная архитектура» (Гинзбург подал на конкурс проект «Коммунального дома А-1»), выставка проектов конкурса в 1927 году.[3], и строительство дома Госстраха на Малой Бронной (1926-1927, М.Я. Гинзбург и В.Н. Владимиров). И журнал, и конкурс, и работа Секции типизации были проектами ОСА (Объединения современных архитекторов).</p>
</div>

<div class="textblock">
  <h3>Идеология</h3>
  <p>Идеи, связанные с планировочной и объемной структурой, также как и с функциональным наполнением дома, изложены в книге М.Я. Гинзбурга «Жилище», где работе Секции типизации посвящена одна глава, а дому Наркомфина — три главы[11]; идеология дома также была озвучена М.Я. Гинзбургом на пленуме Стройкома[1]. Согласно М.Я. Гинзбургу, анализ типов жилья в доходном доме показывает, что его «экономический эффект» был более высоким, чем «массовое жилищное строительство Москвы первых лет после революции» (т.н. моссоветское строительство).</p>
  <p>Работа Секции типизации шла по пути «урезывания и уплотнения обслуживающих площадей» взятой за прототип типологии доходного дома: вначале удалили вторые лестницы и комнаты домработниц, затем оптимизировали коридоры, передние, ванные комнаты и кухни, сохраняя объем и высоту жилых помещений и урезая как площадь, так и высоту подсобных. Приведенные в книге расчеты эффективности использования жилого пространства построены на рассмотрении отношения кубатуры к жилой площади квартир и параметра k (k=W/P, соотношение общей кубатуры здания к полезной площади жилых ячеек). М.Я. Гинзбург ссылается как на расчеты, так и на «опытную работу передовых архитекторов Запада».</p>
  <p>Основной акцент архитекторы сделали на встроенную мебель и компактные сантехнические ячейки. Именно отсюда берёт начало практика совмещения ванной комнаты с туалетом, знакомая нескольким поколениям советских людей. «Они пытались сократить лишние движения обитателей квартир, а также считали необходимым предложить им питаться в общественных столовых, мыться в общественных банях, сдавать бельё в механические прачечные, читать и отдыхать в библиотеках и клубах»[12].</p>
  <p>Дом Наркомата финансов нередко называют «домом-коммуной», что неверно: автор проекта М.Я. Гинзбург противопоставлял свой «дом переходного типа» (от «буржуазного» дома к «социалистической» коммуне, поскольку в нём не полностью уничтожалась семейная структура, как это предполагалось в домах-коммунах) практике домов-коммун и жестко критиковал последнюю:
  </p>
  <blockquote >
    «...конвейер, по которому течет здесь нормированная жизнь, напоминает прусскую казарму <...> Нет нужды доказывать абстрактную утопичность и ошибочную социальную сущность всех этих проектов. <...> Нельзя не заметить во всей этой программе механического процесса увеличения до астрономических размеров молекулярных элементов бытового уклада старой семьи»
  </blockquote>
  <p>В предложениях секции Стройкома нет ни слова о навязывании фиксированного распорядка дня, практикуемого в домах-коммунах, даже в проектах общежитий, ни об уничтожении традиционного семейного уклада. Цель «способствовать быстрейшему безболезненному переходу к более высоким формам хозяйства» авторами дома Наркомфина также озвучивалась: именно для этого был запланирован развитый коммунальный блок с функциями общественного питания, стирки, уборки и присмотра за детьми — также как и минимальный размер кухонь в квартирах[14]. Между тем М.Я. Гинзбург подчеркивает:«мы сочли совершенно необходимым создание ряда моментов, стимулирующих переход на более высокую форму социально-бытового уклада, но не декретирующих этот переход»</p>
  <p>Рассматривая дом Наркомфина как опытный, М.Я. Гинзбург не считал его типовым и настаивал на том, что создание типовых проектов жилых домов — путь неправильный, ведущий к «однообразию жилой застройки». Гинзбург считал важной «максимальную гибкость» стандартов и разработку таких стандартных элементов, «которые можно было бы всячески комбинировать <...> варьировать типы жилья, используя одни и те же стандартные элементы"</p>
</div>

<div class="texblock">
  <h3 id="3">Участок</h3>
   <p>Под строительство дома для работников Наркомата финансов в апреле 1929 года была отведена территория двух усадеб, выходивших на Новинский бульвар — так называемый "Шаляпинский" парк [17], зеленое пространство за рядом домов XIX в. вдоль Садового кольца, в одном из которых в 1910-1922 годы жил Ф.И. Шаляпин. Территория полого спускается к Пресненскому пруду, который к 1925 году был забран на этом отрезке в трубу[5]. Планы застройки предусматривали полный снос существующих домов и дворов, включая флигели и двор дома Шаляпина, но в итоге ни одно строение при строительстве дома Наркомфина не снесли. Под домом течет река Синичка, заключенная в трубу</p>
</div>

<div class="textblock">
  <h3 id="4">Архитектура</h3>
    <h4 id="5">Состав жилого комплекса</h4>
    <p>В проектной документации дом именовался 2-м домом СНК. Согласно проекту, комплекс должен был состоять из четырех корпусов:</p>
    <ol>
      <li>жилого, на 50 семей и приблизительно 200 человек. Построен.</li>
      <li>коммунального, соединенного с жилым теплым навесным переходом: с кухней, двумя столовыми — крытой внутри и летней на крыше, а также спортзалом и библиотекой. Построен, кухня работала в 1930-е годы, продавая еду на вынос. Столовая не заработала.</li>
      <li>отдельное здание детского сада с яслями планировалось на прямоугольной площадке между домом и коммунальным корпусом. Не реализовано. К 1934 году детский сад разместился в коммунальном корпусе, в помещениях столовой. Просуществовал до 1941 года</li>
      <li>«служебный двор», включающий механическую прачечную, сушилку и гараж, был обращен к Новинскому бульвару. Реализован, прачечная функционировала (обслуживала жильцов в 1930-е годы).</li>
    </ol>
    <p>Также планировалось, что рядом с домом Наркомфина будет построен второй жилой дом с большими квартирами — ячейками типа К или D. Не реализован.</p>
</div>
