<div class="O_Email">
  <div class="O_Email--main">
    <div class="O_Email--main--text">
      <h3 className ="A_H3">Море полезных материалов</h3>
      <p className ="A_Textblock">На почте раз в неделю. Рассказываем только о том, что касается вас, серфинга и жизни</p>
    </div>
    <div class="O_Email--main--form">
      <% @subscriber = Subscriber.new %>
      <%= form_for @subscriber do |f| %>
      <%= f.email_field :email,
        class: 'input input--sub'%>
      <%= f.submit "Подписаться!", class: 'btn btn--main' %>
      <% end %>
    </div>
  </div>
  <div class="O_Email--block">
    <div class="O_Email--block-img"></div>
  </div>
</div>
