<%= react_component 'M_CityPreviewSmall', {cities: @cities, city: @city, school: @school, schools: @schools } %>

<div>
  <%= react_component 'O_PostsMain', { posts: @posts, post: @post, categories: @categories, category: @category } %>
</div>

<%= react_component 'M_SchoolPreviewSmall', {surftypes: @surftypes, surftype: @surftype, school: @school, schools: @schools } %>
