.category{
  padding: 8px 24px 8px 24px;
  margin-right: 1vw;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
  background-color: #EEF2F6;
  color: var(--color-text);
}
.category:hover{
  color: var(--color-sea-foam);
  background-color: var(--color-black);
  transition: all .2s linear;
}
.category.activeTab{
  color: var(--color-sea-foam);
  background-color: var(--color-black);
}



.category--default{
  color: var(--color-black);
  background-color: var(--color-sea-foam);
}
.category--active{
  color: #fff;
  background-color: #101010;
}
.category--inPost{
  color: #101010;
  background-color: #fff;
}
.category--inArticle{
  color: #101010;
  background-color: #fff;
}
.default{
  color: var(--color-black-sand);
  background-color: var(--color-sea-foam);
  padding: 8px 24px 8px 24px;
}
.default:hover{
  color: var(--color-black-sand);
  background-color: var(--color-sea-foam);
}
