.A_CityCategory {
  background: #101010;
  border-radius: 16px;
}

// .city--square{
//   background: #101010;
//   border-radius: 16px;
//   padding:32px;
//   color: #FFFFFF;
// }
.city--list {
  width: 92%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.city--square {
  height: 20vw;
  background: #101010;
  border-radius: 16px;
  padding:32px;
  color: #FFFFFF;
}

.city--name {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
