.A_Hashtag {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  a {
    color: #424242;
    font-family: Raleway;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-decoration: none;

    background: #A7D22C;
    border-radius: 24px;
    align-items: center;
    padding: 8px 16px;
    margin-right: 8px;

    &:hover {
      background: #BCE449;
    }
  }
}
