.heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #101010;
}

/* Heading sizes*/
.heading--h1{
font-size: 72px;
}
.heading--h2{
font-size: 64px;
margin-top: 3vw;
width: 70vw;
}
.heading--h3{
font-size: 32px;
}
.heading--article{
font-size: 24px;
font-weight: 600;
}
.heading--article-preview{
font-size: 18px;
}

/* Heading styles*/
.heading--black{
color: #101010;}
.heading--white{
color: #fff;}
.heading--gray{
color: #9F9F9F;}
.heading--red{
color: #E60024;}
