.input{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px var(--color-system-grey);
  padding-left: 16px;
  color: var(--color-text);
  height: 36px;
}
.input::placeholder{
  color: var(--color-text-secondary);
}
.input:focus{
  border: solid 1px transparent;
  border-radius: 8px;
  border-color: #ACC7EF;
}
.input + img{
  display: none;
}


/*Input sizes */
.input--main{
width: 316px;
}
.input--search{
width: 60vw;
}
.input--wide{
width:432px;
height: 164px;
}
.input--image{
background-color: var(--color-system-grey);
background-image: url('/assets/img-placeholder.svg');
background-position: center;
background-repeat: no-repeat;
border: none;
border-radius: 32px;
}
.input--image + img{
  display: block;
  position: absolute;
  margin-top: -15vw;
  margin-left: 20vw;
}

.input-label{
  padding-top: 1vw;
  padding-left: 0.3vw;
  font-family: "Raleway", helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.input--image-user{
  background-color: #424242;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  border-radius: 50%;
}
