.A_SchoolOffer {
  table {
    width: 42vw;
    td {
      padding: 0 32px 32px 0px;
    }
  }
}

@media (max-width: 428px) {
  .A_SchoolOffer {
    table {
      tbody {
        td {
          tr {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
