.A_SchoolGallery {
  margin-right: 32px;
  border-radius: 32px;
  width: 75%;
  overflow: scroll;
  position: relative;
  background-color: var(--color-sunset);
  
  .A_SchoolGallery--arrow {
    position: absolute;
    background-color: var(--color-sea-foam);
    padding: 4px 8px;
    border-radius: 16px;
    top: 16px;
    left: 16px;
  }

  .A_SchoolGallery--block {
    border-radius: 32px;
    overflow: scroll;
  }

  p {
    display: flex;
  }

  .A_SchoolGallery-img {
    width: 56vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .A_SchoolGallery {
    width: 100%;
    margin-bottom: 32px;
    .A_SchoolGallery-img {
      width: 100vw;
    }
  }
}
