.textarea{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 1.5vw;
  background-color: #fff;
  border: solid 1px #E8E8E8;
  padding-left: 16px;
  color: #9F9F9F;
  height: 36px;
}
