
.textblock{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2C2D2E;
}

/* Heading sizes*/
.text--body{
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
}
.text--descript{
font-size: 16px;
}
.text--s-descript{
font-size: 14px;
}
.text--subbody{
font-size: 18px;
}

/* Heading styles*/
.text--black{
color:  var(--color-text);
}
.text--gray{
color: #9F9F9F;}
.text--red{
color: #E60024;}
.text--white{
color: #fff;}

@media (max-width: 768px) {
  .text--body {
    font-size: 18px;
    line-height: 130%;
  }
}

@media (max-width: 428px) {
  .text--body {
    font-size: 16px;
    line-height: 24px;
  }
}
