/* :root{
  --h1: #2763BD;
  --h2: #2763BD;
  --h3: #2763BD;
  --h4: #9F9F9F;
  --h5: #424242;
  --number: #9F9F9F;
} */


.textblock{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2C2D2E;
}

/* Heading sizes*/
.text--body{
  font-weight: 400;
  font-size: 21px;
  line-height: 146%;
}
.text--descript{
font-size: 16px;
}
.text--s-descript{
font-size: 14px;
}
.text--subbody{
font-size: 18px;
}

/* Heading styles*/
.text--black{
color: #101010;}
.text--gray{
color: #9F9F9F;}
.text--red{
color: #E60024;}
.text--white{
color: #fff;}
