.textarea{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px var(--color-system-grey);
  padding: 16px;
  color: #9F9F9F;
  height: 164px;
  width: 530px;
}
