.admin-sidebar{
  background-color: var(--color-sea-foam);
  width: 256px;
  height: 100%;
  position: fixed;
  z-index: 90;
  .admin-links{
    margin: 132px auto 0 64px;
    display: flex;
    flex-direction: column;
    .admin-list-item{
      opacity: 0.6;
      display: flex;
      margin-top: 15px;
      div + a{
        margin-left: 5px;

      }
    }
    .admin-list-item:hover{
      opacity: 1;
      cursor: pointer;
    }
    .admin-list-item a:hover{
      color: inherit;
    }
  }
}
