.admin-user-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.admin-user{
  background-color: var(--color-sea-foam);
  padding: 20px;
  width: 300px;
  border-radius: 16px;
  margin-left: 32px;
  .admin-user-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .admin-user-low{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
