.admin-topbar{
  background-color: var(--color-black-sand);
  width: 100%;
  border-radius: 0px 0px 32px 32px;
  padding: 72px 0px 24px;
  margin-bottom: 32px;
  margin-top: -2vw;
  .admin-topbar-inner {
    width: 90%;
    margin: 0 auto;
  }
  h3{
    color: var(--color-sea-foam);
    margin-bottom: 16px;
  }
  .admin-links{
    display: flex;
    flex-direction: row;
    margin-left: -22px;
    a{
      color: var(--color-sea-foam);
      mix-blend-mode: difference;
      margin-right: 8px;
      padding: 12px 24px;
      border-radius: 40px;
      &:hover {
        background-color: var(--color-sea-foam);
        color: var(--color-text);
        transition: all .2s linear;
      }
    }
    .admin-list-item{
      display: flex;
      font-size: 16px;
    }
    button:hover{
      background-color: transparent;
    }
    .admin-list-item:hover{
      opacity: 0.6;
      cursor: pointer;
    }
    .admin-list-item a:hover{
      color: inherit;
    }
  }
}
