.M_AuthorQuestion {
  background: #EEF2F7;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.M_AuthorQuestion-wrapper {
  padding: 5vw 24vw 5vw 7vw;
}

.M_AuthorQuestion-textblock {
  h3 {
    margin-bottom: 12px;
  }
}

.M_AuthorQuestion-more {
  margin-top: 64px;
}
