.M_CityPreviewSmall-wrapper {
  background-color: var(--color-black);
  width: 100%;
  margin: 0 auto;
  margin-top: -2.5vw;
  padding: 4vw 0vw 10vw;
}

.M_CityPreviewSmall {
  width: 90%;
  margin: 0 auto;
  margin-top: 24px;
  .main--title {
    margin-bottom: 24px;
  }
  .M_CityPreviewSmall--block {
    display: flex;
  }
  .M_CityPreviewSmall--block--item {
    margin-right: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-sunset);
    border-radius: 16px;

    &:hover {
      transform: scale(1.05);
      transition: all 0.4s linear;
    }

    // &:first-of-type {
    //   background-image: url('../../images/CityPreviewSmall-bc2.svg');
    // }
  }

  .M_CityPreviewSmall--block--link {
    width: 14vw;
    height: 8vw;
    border-radius: 16px;
    background-color: var(--color-text);
    color: var(--color-sea-foam);
    text-align: center;
    &:hover {
      transform: scale(1.05);
      transition: all 0.4s linear;
    }
    span {
      color: var(--color-sea-foam);
    }
    .M_CityPreviewSmall--block--link--img {
        margin: 0 auto;
        margin-top: 2vw;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('.././images/arrow-round.svg');
    }
  }
}

@media (max-width: 1024px) {
  .M_CityPreviewSmall {
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
    .main--title {
      margin-bottom: 24px;
      width: 90%;
      margin: 0 auto;
    }
    .M_CityPreviewSmall--block {
      display: flex;
      overflow-x: scroll;
    }
    .M_CityPreviewSmall--block--item {
      margin-right: 24px;
      &:first-of-type {
        margin-left: 4.8vw;
      }
    }
    .M_CityPreviewSmall--block--link {
      margin-right: 4.8vw;
      padding-top: 16px;
    }

  }
}

@media (max-width: 768px) {
  .M_CityPreviewSmall {
    .main--title {
      margin-bottom: 24px;
      width: 96%;
      margin: 0 auto;
    }
    .M_CityPreviewSmall--block {
      display: flex;
      overflow-x: scroll;
    }
    .M_CityPreviewSmall--block--item {
      margin-right: 24px;
      &:first-of-type {
        margin-left: 4.8vw;
      }
    }
    .M_CityPreviewSmall--block--link {
      span {
        display: none;
      }
    }

  }
}

@media (max-width: 560px) {
  .M_CityPreviewSmall {
    .main--title {
      width: 90%;
    }
    .M_CityPreviewSmall--block--link {
      padding-top: 18vw;
    }
  }
}
