.city-preview {
  height: auto;
  border-radius: 16px;
  background-color: var(--color-black);
  
}

.city-preview__banner{
  height: 20vw;
  border-radius: 16px 16px 12vw 12vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-sunset);
}

.city-preview__banner__text {
  padding: 16px 24px 16px;
  .A_H3--white {
    font-weight: 500;
  }
}


@media (max-width: 768px) {
  .city-preview__banner{
    height: 26vw;
  }
}

@media (max-width: 428px) {
  .city-preview__banner{
    height: 64vw;
  }
}
