.M_CityPreviewSmall {
  width: 90%;
  margin: 0 auto;
  .main--title {
    margin-bottom: 24px;
  }
  .M_CityPreviewSmall--block {
    display: flex;
  }
  .M_CityPreviewSmall--block--item {
    margin-right: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-black);
    border-radius: 16px;

    &:first-of-type {
      background-image: url('.././images/CityPreviewSmall-bc1.svg');
    }
    &:nth-of-type(2) {
      background-image: url('.././images/CityPreviewSmall-bc2.svg');
    }
    &:nth-of-type(3) {
      background-image: url('.././images/CityPreviewSmall-bc3.svg');
    }
    &:nth-of-type(4) {
      background-image: url('.././images/CityPreviewSmall-bc4.svg');
    }
    &:nth-of-type(5) {
      background-image: url('.././images/CityPreviewSmall-bc5.svg');
    }
  }

  .M_CityPreviewSmall--block--link {
    .M_CityPreviewSmall--block--link--img {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('.././images/arrow-round.svg');
    }
  }
}
