.header-ext{
  display: flex;
  background-color: #fff;
  color: #101010;
  border-radius: 0 0 2vw 2vw;
  padding-left: 2vw;
  align-items: center;
  justify-content: space-between;
}
.header{
  width: 100%;
  display: flex;
  padding: 1vw;
  justify-content: space-between;

  a{
    font-family: "Raleway", helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header--left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      margin-left: 2vw;
    }
  }
  .header--right{
    display: flex;
  }
}
