.post-view{
  padding-top: 24px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 96px;

  .post-inner-banner{
    width: 100%;
    height: 36vw;
    border-radius: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .post-content {
    padding: 0vw 7vw;
    margin: 0 auto;
  }

  .post-info{
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .post-text{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    p {
      margin-top: 56px;
      width: 65vw;
    }
  }

  .post-hashes{
    margin-top: 2vw;
    margin-bottom: 3vw;
  }
}

@media (max-width: 768px) {
  .post-view {
    .post-inner-banner {
      height: 70vw;
    }
  }
}

@media (max-width: 428px) {
  .post-view {
    .post-text{
      margin-top: 22px;
      p {
        margin-top: 32px;
        width: 90vw;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .post-inner-banner {
      height: 94vw;
    }
    .post-content {
      padding: 0 0 0 0;
    }
  }
}
