.post-view{
  padding-top: 24px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 96px;


  .post-content {
    padding: 0vw 7vw;
    margin: 0 auto;
  }

  .post-info{
    display: flex;
    align-items: center;
  }

  .post-text{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    p {
      margin-top: 56px;
      width: 80%;
    }
  }

  .post-hashes{
    margin-top: 2vw;
    margin-bottom: 3vw;
  }
}
