.post-final{
  width: 90%;
  margin: 0 auto;
  align-items: center;
  background: var(--color-black-sand);
  border-radius: 16px;
}

.post-final-items {
  padding: 2vw 7vw;
}

.activity--inPost{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .like{
    display: flex;
    flex-direction: row;
    .like-count{
      font-size: 15px;
      color: #9a9a9a;
      font-weight: 400;
      padding: 4px;
    }
  }
  .fav{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    .fav-count{
      font-size: 15px;
      color: #9a9a9a;
      font-weight: 400;
      padding: 4px;
    }
  }
}

.post-final-inner-hashtag {
  margin-top: 40px;
  margin-bottom: 44px;
}

.media-share{
  margin-top: 20px;
  display: flex;
  align-items: center;
  a{
    margin-right: 22px;
  }
}

@media (max-width: 768px) {
  .post-final-items {
    padding: 3vw 7vw;
  }
  .media-share{
    a{
      margin-right: 20px;
    }
  }
}

@media (max-width: 428px) {
  .post-final-items {
    padding: 24px 24px;
    span{
      font-size: 18px;
    }
  }

  .activity--inPost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
