.post-preview{
  background-color: var(--color-sea-foam);
  border-radius: 16px;
  width: 28vw;
  .post-banner{
    border-radius: 16px;
  }
  .post-preview-cat{
    padding: 8vw 0 1.5vw 1.5vw;
    margin-top: 15vw;
  }
  .post-lower-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .post-banner-text{
    padding: 1vw;
  }
  .post-admin-actions{
    z-index: 20;
  }
}
