.M_SchoolInf {
  background: #FFFFFF;
  border-radius: 32px;
  padding: 32px;
  width: 50%;
  margin-right: 32px;
  .A_SchoolInf-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    .A_SchoolInf-block-column:first-of-type{
      margin-right: 56px;
    }
  }
  .A_SchoolInf-link {
    margin-top: 72px;
  }
}

@media (max-width: 768px) {
  .M_SchoolInf {
    width: 90%;
    margin-bottom: 32px;
  }
}

@media (max-width: 428px) {
  .M_SchoolInf {
    width: 90%;
    margin-bottom: 16px;
    padding: 24px 16px;
    border-radius: 16px;
  }
}
