.M_SchoolInnerMap {
  background: #A7D22C;
  border-radius: 32px;
  padding: 32px;
  width: 35%;
  align-items: center;

  color: #101010;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  .M_SchoolInnerMap-map {
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  .M_SchoolInnerMap {
    width: 90%;
  }
}

@media (max-width: 428px) {
  .M_SchoolInnerMap {
    border-radius: 16px;
    padding: 0px 0px 16px 0px;
    overflow: hidden;
    width: 100%;
  }
}
