.M_SchoolContacts {
  background: #101010;
  border-radius: 32px;
  padding: 32px;
  color: #FFFFFF;

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .M_SchoolContacts-block {
    margin-top: 24px;
    .A_SchoolContact:first-of-type span,
    .A_SchoolContact:nth-of-type(2) span {
      margin-left: 0px;
    }
  }

  .M_SchoolContacts-link {
    background-color: var(--color-background-page);
    padding: 1.4vw 2.4vw;
    border-radius: 20px;
    margin-top: 5vw;
    a {
      align-items: center;
      text-align: center;
    }
  }
}
