.M_SchoolBanner {
  background-image: url('schoolMain-bc.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 20vw;
  h1 {
    padding-top: 4vw;
  }
}

@media (max-width: 428px) {
  .M_SchoolBanner {
    padding: 24px 16px 24px 16px;
  }
}
