.M_SchoolBanner {
  background-color: var(--color-black);
  text-align: center;
  width: 88%;
  margin: 0 auto;
  border-radius: 98px;
  padding: 32px 40px 32px 40px;

}

@media (max-width: 428px) {
  .M_SchoolBanner {
    padding: 24px 16px 24px 16px;
  }
}
