.M_SchoolBanner {
  background-image: url(image-path('M_SchoolBanner.svg'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 32px;
  padding: 40px;
}
