.M_SchoolMainTitleMobile {
  display: none;
}

@media (max-width: 428px) {
  .M_SchoolMainTitleMobile {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
  }
}
