.M_SchoolOffers {
  background: #101010;
  border-radius: 32px;
  padding: 32px;
  width: 65%;
  color: #FFFFFF;
  margin-right: 32px;
}

.M_SchoolOffers_link {
  margin-top: 8px;
  color: var(--color-light-grey);
}

.M_SchoolOffers_table {
  margin-top: 56px;
}
