.profile-sidebar{
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  border-radius: 32px;
  a{
    padding-top: 1.5vw;
    max-width: 190px;
  }
}

.linking--black{
  color: var(--color-light-grey);
}
.linking--black:hover{
  color: var(--color-black-sand);
}
