.admin-view{
  display: flex;
  .admin-content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4vw;
  }
  .admin-posts{
    margin-top: 40px;
  }
  .admin-top-line{
    display: flex;
    justify-content: space-between;
  }
  .admin-second-line{
    display: flex;
    justify-content: flex-start;
    p {
      margin-right: 16px;
    }
  }
}
