.admin-view{
  display: flex;
  .admin-content{
    margin-top: 220px;
  }
  .admin-posts{
    margin-top: 40px;
  }
  .admin-top-line{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .admin-second-line{
    display: flex;
    justify-content: flex-start;
  }
  .admin-second-line:nth-child(2){
    padding-left: 24px;
  }
}
