.admin-container{
  display: flex;
  flex-direction: column;
  .admin-posts{
    margin-top: 24px;
  }
  .admin-top-line{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    .form-group {
      margin-bottom: 0;
    }
  }
  .admin-second-line{
    display: flex;
    justify-content: flex-start;
  }
}
