.coment-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  textarea{
    background-color: #EEF2F6;
    border-radius: 16px;
    width: 600px;
    max-height: 40px;
  }
  textarea::placeholder {
  font-family: "Raleway", helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-light-grey);
}
}
.coment-send{
  .btn{
    background-image: url(/assets/commentSubmit.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 0;
  }
  .btn:disabled{
    background-color: transparent;
  }
  .btn:hover{
    background-color: transparent;
  }
  .btn:visited{
    background-color: transparent;
  }
}
