.header-ext {
  // position: fixed;
  // top: 0;

  width: 100%;
  padding: 16px 0px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  color: #101010;
  border-radius: 0 0 24px 24px;
}

.header-ext-inner {
  padding: 0 56px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    font-family: "Raleway", helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header--left{
    display: flex;
    align-items: center;
    a {
      // margin-left: 56px;
    }
  }

  .header--right{
    display: flex;
    align-items: center;
    // margin-right: 56px;

    .header--right-search {
      img {
        width: 24px;
        height: 24px;
      }
    }

    .header--right-profile {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
