.final-posts{
  width: 90%;
  margin: 0 auto;
  margin-top: 96px;
}
.all-posts--heading{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}



@media (max-width: 768px) {
  .final-posts{
    margin-top: 60px;
  }
  .post--list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 428px) {
  .final-posts{
    margin-top: 112px;
  }
  .all-posts--heading{
    justify-content: space-between;
    h3{
      font-size: 18px;
      line-height: 21px;
      width: 260px;
    }
    a{
      font-size: 14px;
    }
  }
  .post--list {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .all-posts{
    margin-bottom: 12vw;
  }
}
