.coments-section{
  padding-top: 90px;
  width: 90%;
  margin-left: 176px;
  margin-bottom: 80px;
}
.comments-topic-block{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;

  .comments-author-topic{
    margin-left: 1vw;
  }
}

.post-coments{
  margin-top: 40px;
}


@media (max-width: 768px) {
  .coments-section{
    margin-left: 94px;
    margin-bottom: 48px;
    padding-top: 52px;
  }
}

@media (max-width: 428px) {
  .post-view {
    .post-inner-banner {
      height: 94vw;
    }
  }
  .coments-section{
    width: 90%;
    margin: 0 auto;
    padding-top:64px;
  }

  .comments-topic-block{
    .comments-author-topic{
      margin-left: 8px;
    }
  }
}
