.O_PostsMain {
  margin: 64px 0px;
  background-color: #EEF2F6;
  border-radius: 56px;
  padding-top: 48px;
  padding-bottom: 96px;
  .main--title {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .O_PostsMain-link{
    width: 100%;
    text-align: center;
    margin-top: 88px;
    a {
      background-color: var(--color-black);
      text-align: center;
      border-radius: 96px;
      padding: 56px 42vw;
    }
    a:hover {
      background-color: var(--color-adventure-spirit);
      color: var(--color-black);
      transition: all 0.2s linear;
    }

  }
}


@media (max-width: 1024px) {
  .O_PostsMain {
    .O_PostsMain-link {
      a {
        padding: 56px 38vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .O_PostsMain {

    .main--title,
    .all-posts {
      width: 96%;
    }

    .O_PostsMain-link {
      a {
        padding: 40px 38vw;
      }
    }
  }
}

@media (max-width: 560px) {
  .O_PostsMain {

    .main--title,
    .all-posts {
      width: 96%;
    }

    .O_PostsMain-link {
      a {
        padding: 40px 32vw;
      }
    }
  }
}

@media (max-width: 428px) {
  .O_PostsMain {

    .main--title,
    .all-posts {
      width: 90%;
    }

    .O_PostsMain-link {
      a {
        padding: 32px 22vw;
      }
    }
  }
}
