.post-list{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;

  .post-preview-item {
    grid-row: 1 / 3;
    margin-bottom: 40px;
    width: 416px;

    &:nth-child(4n) {
      width: 640px;
    }
    &:nth-child(4n+5) {
      width: 640px;
    }
    &:nth-child(5n) {
      width: 640px;
    }
  }


  // .post-preview-img {
  //   width: 100%;
  //   height: 360px;
  //   border-radius: 16px;
  // }
  // .cat-play-line{
  //   margin-top: 320px;
  //   position: absolute;
  //   justify-content: space-around;
  //   padding: 0 24px 0 24px;
  //   display: flex;
  // }
  // .post-headline{
  //   display: flex;
  //   justify-content: space-between;
  // }
}
