.profile-wrapper{
  background-color: #101010;
  .profile-posts{
    background-color: #E8E8E8;
    border-radius: 32px 32px 0px 0px;
    padding: 28px 0 0 156px;
  }
  .profile-follows p{
    color: #fff;
  }
  .profile-button{
    margin-left: 156px;
  }

}
