.user-edit-sidebar{
  margin-top: 72px;
  margin-left: 48px;
}

.user-edit-form-inner {
  display: flex;
}

.user-edit-avatar{
  padding-top: 72px;
  display: flex;
  align-items: center;
  img{
   border-radius: 50%;
  }
  .user-edit-upload-pic{
    margin-left: 2vw;
  }
}
