.profileView{
  background-color: #101010;
  color: #fff;
  border-radius: 1vw;
  padding: 60px 0 60px 156px;
  font-family: "Raleway", helvetica, sans-serif;
  button{
    margin-top: 0;
    margin-left: 6vw;
  }
}
.profile-wrapper{
  background-color: #101010;
  .profile-posts{
    background-color: #E8E8E8;
    border-radius: 32px 32px 0px 0px;
    padding: 28px 0 0 156px;
  }
  .profile-button{
    margin-left: 156px;
  }
  .main-user-info{
    display: flex;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .user-text-info{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    p{
    margin-top: 1vw;
    max-width: 42vw;
   }
   .username-edit{
     a{
       margin-left: 3vw;
     }
   }
   .profile-medias{
     margin-top: 3vw;
     display: flex;
     margin-bottom: 1vw;
     justify-content: bottom;
     .socialMedia{
       img{
         height: 22px;
         width: 22px;
         padding-right: 1vw;
       }
     }
   }
  }
}
