.enter {
  background-image: url(image_path('reg-bc.png'));
  padding-top: 12vw;
  margin-top: -5vw;
}

.enter--wrapper {
  background-color: var(--color-sea-foam);
  padding: 5vw 5vw;
  width: 40%;
  margin: 0 auto;
  border-radius: 72px;
  margin-bottom: 6vw;

  .enter--wrapper--block {
    width: 60%;
    margin: 0 auto;
  }

  h4 {
    margin-bottom: 32px;
  }
}

.input--email {
  height: 24px;
  width: 100%;
}

.form--item--email {
  margin-bottom: 16px;
}

.btn--enter {
  width: 100%;
}

.form--check {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.form--links {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  a {
    margin-bottom: 4px;
  }
  span {
    margin-top: 2vw;
  }
}

.input--text--desc {
  font-size: 12px;
  color: var(--color-light-grey);
}

@media (max-width: 1024px) {
  .enter--wrapper {
    width: 60%;
    .enter--wrapper--block {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .enter--wrapper {
    width: 70%;
    .enter--wrapper--block {
      width: 80%;
    }
  }
}

@media (max-width: 428px) {
  .enter {
    padding-top: 24vw;
  }
  .enter--wrapper {
    margin-bottom: 21vw;
    border-radius: 24px;
    padding: 8vw 5vw;
    width: 80%;

    .enter--wrapper--block {
      width: 80%;
    }
  }
}
