.O_SchoolView {
  width: 92%;
  margin: 0 auto;
  .O_SchoolView-block {
    display: flex;
    margin-bottom: 32px;
  }
  .school-banner {
    width: 100%;
    height: 36vw;
    border-radius: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
