// Place all the styles related to the Styleguide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


//
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

  h2 {
    font-weight: 600;
    font-size: 4vw;
    margin-top: 7vw;
    margin-left: 16vw;
    line-height: 120%;
  }

  h3 {
    font-weight: 600;
    font-size: 2vw;
    margin-top: 4vw;
    margin-left: 16vw;
    line-height: 120%;
  }

  h4 {
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 16vw;
    line-height: 120%;
  }

  h5 {
    font-weight: 600;
    font-size: 1.15vw;
  }

  p {
    font-size: 1.1vw;
    max-width: 36vw;
    margin-left: 16vw;
    line-height: 130%;
  }

  li {
    font-size: 1.2vw;
  }

  .links {
    a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 1.1vw;
    padding: 5vw;
    }
  }





.menu{
  position: fixed;
  z-index: 20;
  padding-top: 10vw;
  ul{
    list-style: none;
    font-weight: 500;
    li{
      a{
      color: #A7D22C;
      line-height: 2vw;
      font-size: 1.5vw;
      text-decoration: none;
      }
    }
    a:hover{
      color: #DDDDDD;
      cursor: pointer;
      background: none;
    }
  }
}

//first section styles
.head-section{
  background-color: #101010;
  color: #fff;
  height: 45vw;
  padding-bottom: 12vw;
}

.head-section__top{
  padding: 3vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .top-left{
    display: flex;
    align-items: baseline;
    h3{
      font-weight: 500;
      padding-left: 2vw;
      margin-left: 0;
    }
  }
  .top-right{
    p{
      color: #fff;
    }
    p:hover{
      text-decoration: underline;
      color: #dddddd;
      cursor: pointer;
    }
  }
  .head-section__top {
    img{
      position: absolute;
      padding-top: 50vw;
    }
  }
  // .head-section__main-pic img{
  //   position: absolute;
  //   padding-top: 20vw;
  // }

}

.about-brand{
}
.about-brand__meaning h3+p{
 p{
   width: 30vw;
 }
}

.logo{
  .logo__form__meaning{
    img{
      margin-left: 16vw;
      padding-top: 7vw;
      padding-bottom: 7vw;
      padding-left: 23vw;
    }
  }
  .logo__form__principle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    h5{
      color: #2763BD;
    }
    p{
      width: 28vw;
    }
  }
}


.logo__form__principles{
  margin-left: 26vw;
  .rect{
    width: 75vw;
    height: 1vw;
    color: #000;
  }
  h4{
    margin-bottom: 0vw;
  }
  .pr-right{
   padding-left: 5vw;
   padding-top: 5vw;
  }
}

.logo__form__build{
  background-color: #101010;
  padding-bottom: 6vw;

  h3, p{
    color: #fff;
  }
  h3{
    padding-top: 3vw;
    width: 13vw;
  }
  .logo__form__build__pics img{
    margin-left: 16vw;
    padding-top: 5vw;
  }
  .logo__form__build__pics + img{
    padding-top: 7vw;
    margin-left: 42vw;
  }
}

.logo__form__use {
  img{
    margin-left: 16vw;
  }
  .logo__form__use__pics{
    display: flex;
    flex-direction: column;
  }
  .logo__form__use__pics img:nth-child(1){
    width: 20vw;
    padding-top: 4vw;
  }
  .logo__form__use__pics img:nth-child(2){
    width: 15vw;
    padding-top: 4vw;
  }
  .logo__form__use__pics img:nth-child(3){
    width: 10vw;
    padding-top: 4vw;
  }
}


.logo__form__use__elements{
  padding-top: 3vw;
  .sign-field{
    margin-left: 16vw;
    padding-top: 2vw;
    display: flex;
    justify-content: flex-start;
    img{
      margin-left: 0;
    }
    img + img{
      margin-left: 3vw;
    }
  }
  .sign-field + p{
    padding-top: 6vw;
    font-weight: 500;
  }
  .sign-field + h3{
    padding-top: 6vw;
  }
}

.logo__form__locations{
  background-color: #101010;
  h3{
    color: #fff;
    padding-top: 6vw;
  }
  p{
    color: #ffffff;
    width: 23vw;
  }
  .logo__form__locations__loc{
    margin-left: 16vw;
    padding-top: 3vw;
  }
  .logo__form__locations__loc:nth-of-type(4) {
    img{
      max-width: 53vw;
      height: auto;
    }
  }
}

.logo__form__location__restrict{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  .restrict img{
    padding-top: 5vw;
    max-width: 15vw;
    margin-left: 16vw;
  }

  .restrict p{
    width: 20vw;
    padding-top: 1vw;
  }
  .restrict + .restrict{
    margin-left: -10vw;
  }

}


.color{
  .color__choice__main{
    display: flex;
  }
    .rect_white{
      margin-left: 16vw;
      color: #fff;
      border: 0.1vw solid #101010;
      width: 10vw;
      height: 10vw;
    }
    .rect_black{
      margin-left: 16vw;
      color: #101010;
      width: 10vw;
      height: 10vw;
    }
  .color__choice__sub{
    display: flex;
  }
    .rect_blue{
      margin-left: 16vw;
      color: #2763BD;
      max-width: 10vw;
      height: 10vw;
    }
    .rect_green{
      margin-left: 16vw;
      color: #A7D22C;
      width: 10vw;
      height: 10vw;
    }
}

.amount__color{
  margin-left: 16vw;

  ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
  }
  img{
    padding-top: 2vw;
    width: 84vw;
  }
}

.color__couples{
  background-color: #F2F2F2;
  padding-bottom: 10vw;
  h3{
    padding-top: 6vw;
  }
  img{
    max-width: 40vw;
    padding-top: 3vw;
  }
  .color__couples__comb{
    margin-left: 16vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.color__couples__restrict{
  margin-left: 16vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}



.typo{
  padding-bottom: 10vw;
  h2{
  padding-top: 6vw;
}
  background-color: #101010;
  color: #fff;
  .line{
    max-width: 70vw;
    height: 0.1vw;
    color: #fff;
  }
  img{
    margin-left: 16vw;
  }
  .typo__font__choice__text{
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    .garns{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    p{
      max-width: 30vw;
      margin-left: -30vw;
      margin-right: 10vw;
    }
  }
  .typo__slant{
    display: flex;
    justify-content: space-between;
    align-items: top;
    p{
      max-width: 30vw;
      max-height: auto;
      margin-left: -30vw;
      margin-right: 10vw;
    }
  }

  .typo__size{
    .typo__size__line{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      font-weight: 500;
    }
    p{
      padding-right: 20vw;
    }
    .typo__size__line:nth-of-type(2){
      h3{
        font-size: 2vw;
      }
    }
    .typo__size__line:nth-of-type(3){
      h3{
        font-size: 1.5vw;
      }
    }
    .typo__size__line:nth-of-type(4){
      h3{
        font-size: 1vw;
      }
    }
  }
  .typo__format{
    display: flex;
    flex-direction: row;
    align-items: top;
    img{
      max-width: 40vw;
      height: auto;
    }
  }
}
