<%= form_with(model: category, local: true) do |form| %>
  <%= react_component 'M_Catform', { category: @category } %>
  <!-- <div class="field"> 
  <#%= form.label "Раздел" %> 
  <#%= form.select :post_type_id, PostType.pluck(:name, :id) %> 
</div> -->
<% end %>
